<div class=title>
  <h3>Welcome to Blog App</h3>
</div>

  <% @users.each do |user| %>
    <%= link_to user do %>

        <div class=box>
          <img src="<%= user.photo%>", class: 'img'>
          <div class=user-box>
            <%= user.name %><br>
            <div class=right>
            number of posts: <%= user.posts_counter %><br>
            </div>
          </div>
        </div>
    <% end %>
<% end %>