<p>Hello <%= @resource.email %>!</p>

<p>Request from someone a link to change your password. Do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Didn't request this, please ignore this email.</p>
<p>Note that your password won't change until you access the link above and create a new one.</p>